@import "tailwindcss";

@theme {
  --color-primary: #FF5722;
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
  --color-text-primary: #1F2937;
  --color-text-secondary: #6B7280;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-accent-dark: #111827;
  
  --radius-xl: 1.5rem; /* rounded-3xl */
}

:root {
  --background: #F3F4F6;
  --foreground: #1F2937;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

