@import "tailwindcss";

@theme {
  --color-primary: #FCD535;
  --color-background: #FBF9F2;
  --color-surface: #FFFFFF;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-accent-dark: #1F1F1F;
  --color-card-dark: #2A2A2A;

  --radius-xl: 1.5rem;
  /* rounded-3xl */
  --radius-2xl: 2rem;
}

:root {
  --background: #FBF9F2;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}